@font-face {
	font-family: "Free Sans";
	src: url("//caterpy.xyz/assets/fonts/Free_Sans/FreeSans.eot?") format("eot"), url("//caterpy.xyz/assets/fonts/Free_Sans/FreeSans.woff") format("woff"), url("//caterpy.xyz/assets/fonts/Free_Sans/FreeSans.ttf") format("truetype"), url("//caterpy.xyz/assets/fonts/Free_Sans/FreeSans.svg#FreeSans") format("svg");
	font-weight: normal;
	font-style: normal;
}